@media (max-width: 1269.99px) and (min-width: 960px){

    html{
        font-size: 60%;
    }

    body>i{
        position: fixed;
        bottom: 0;
        right: 1rem;
        font-size: 5rem;
        cursor: pointer;
    }

    /* Cabeçalho - Início */ 

    .cabecalho{
        width: 100%;
        height: 10rem;
        background: var(--cor-verde);
        position: fixed;
        top: 0;
        z-index: 10000;
    }

    #cabecalho-interno{
        width: 90%;
        height: 10rem;
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    #cabecalho-interno nav{
        display: flex;
        flex-flow: row nowrap;
        gap: 3rem;
        font-family: var(--fonte-subtitulo);
    }

    #cabecalho-interno nav a{
        font-size: 2rem;
        color: var(--cor-branco-principal);
        transition: all 0.2s;
        transform: translateY(0.5rem);
    }

    #cabecalho-interno nav a>span{
        width: 0;
        height: 0.2rem;
        border-radius: 4rem;
        display: block;
        background: var(--cor-branco-principal);
    }

    .cabecalho-oculto nav{
        display: none;
    }

    #cabecalho-interno .login .registrar{
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
        border-radius: 0.5rem;
        color: var(--cor-verde);
        background: var(--cor-branco-principal);
    }

    #cabecalho-interno nav a:hover{
        transform: scale(1.1) translateY(0.5rem);
    }

    #cabecalho-interno nav a:nth-of-type(1):hover>span{
        animation: underline-1 0.4s forwards;
    }

    #cabecalho-interno nav a:nth-of-type(2):hover>span{
        animation: underline-2 0.4s forwards;
    }

    #cabecalho-interno .login a:nth-of-type(1):hover>span{
        animation: underline-3 0.4s forwards;
    }

    #cabecalho-interno .login a:nth-of-type(2):hover>span{
        animation: underline-4 0.4s forwards;
        background: var(--cor-verde);
    }

    /* Animação Underline - Início */

    @keyframes underline-1{
        100%{
            width: 6.6rem;
        }
    }

    @keyframes underline-2{
        100%{
            width: 11.5rem;
        }
    }

    @keyframes underline-3{
        100%{
            width: 5.2rem;
        }
    }

    @keyframes underline-4{
        100%{
            width: 12rem;
        }
    }

    /* Animação Underline - Fim */

    .logo{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        transition: all 0.2s;
    }

    .logo a{
        font-family: var(--fonte-titulo);
        font-weight: bold;
        font-size: 3rem;
        color: var(--cor-branco-principal);
        cursor: pointer;
    }

    .logo:hover{
        transform: scale(1.1);
    }

    .logo h1, .logo i{
        font-size: 3rem;
        color: var(--cor-branco-principal);
    }

    /* Botão Cabeçalho - Início */

    #botao-interno{
        display: none;
    }

    /* Botão Cabeçalho - Final */


    /* Cabeçalho - Final */ 

    /* Container 1 - Início */

    #container1{
        width: 100%;
        height: 100vh;
        background: url('../../Imagens/fundo1.jpg') fixed;
        background-size: cover;
    }

    #conteudo-interno{
        width: 90%;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #conteudo-interno div:nth-child(1){
        width: 65rem;
        height: 46rem;
        padding: 2rem;
        border-radius: 2rem;
        background: rgba(249, 250, 252, 0.9);
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        transform: translateY(2rem);
    }

    #conteudo-interno img{
        display: none;
    }

    #conteudo-interno div:nth-child(1) span{
        width: 58rem;
        height: 0.4rem;
        border-radius: 20rem;
        background: black;
    }

    #conteudo-interno h1{
        font-family: var(--fonte-titulo);
        font-size: 6rem;
    }

    #conteudo-interno p{
        font-family: var(--fonte-subtitulo);
    }

    #conteudo-interno div:nth-child(1) p:nth-of-type(1){
        text-align: justify;
        font-size: 2rem;
        text-indent: 1rem;
    }

    #conteudo-interno div:nth-child(1) p:nth-of-type(2){
        text-align: justify;
        text-indent: 1rem;
        font-size: 1.8rem;
    }

    #conteudo-interno a{
        padding: 1rem;
        font-size: 2rem;
        border-radius: 0.5rem;
        color: var(--cor-branco-principal);
        background: var(--cor-verde);
        transition: all 0.3s;
    }

    #conteudo-interno a:hover{
        transform: scale(1.1);
    }


    /* Container 1 - Fim */

    /* Container 2 - Início */

    #container2{
        width: 90%;
        margin: 0 auto;
        height: 80rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 6rem;
        padding: 4rem 0 4rem 0;
    }

    #container2>div:nth-of-type(1){
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    #container2>div:nth-of-type(1) h1{
        font-size: 5rem;
        letter-spacing: 0.5rem;
        font-family: var(--fonte-titulo);
    }

    #container2>div:nth-of-type(1) p{
        text-align: center;
        width: 70%;
        font-size: 2rem;
        font-family: var(--fonte-subtitulo);
    }

    #container2>div:nth-of-type(2){
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 6rem;
    }

    .container2-seções{
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
    }

    .container2-seções h2{
        font-size: 3rem;
        font-family: var(--fonte-titulo);
    }

    .container2-seções p{
        font-size: 1.7rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }

    .container2-seções i{
        font-size: 5rem;
    }

    #container2>div:nth-of-type(3){
        width: 90%;
        text-align: justify;
        background: var(--cor-verde);
        color: var(--cor-branco-principal);
        border-radius: 1rem;
        padding: 0.8rem;
    }

    #container2>div:nth-of-type(3) p{
        font-size: 1.8rem;
        font-family: var(--fonte-subtitulo);
    }

    #container2>div:nth-of-type(3) p span{
        color: black;
        font-weight: bold;
    }

    /* Container 2 - Fim */

    /* Rodapé - Início */

    #rodape{
        width: 100%;
        height: 12rem;
        background: var(--cor-azul);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    #rodape>div:nth-of-type(1){
        width: 90%;
        height: 12rem;
    }

    #rodape>div:nth-of-type(1)>div:nth-of-type(1){
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #rodape>div:nth-of-type(1)>div:nth-of-type(1)>p{
        color: var(--cor-branco-principal);
        font-family: var(--fonte-titulo);
        font-size: 1.5rem;
    }

    #rodape>div:nth-of-type(1)>div:nth-of-type(1)>a{
        padding: 1rem;
        font-size: 2rem;
        border-radius: 0.5rem;
        color: var(--cor-branco-principal);
        background: var(--cor-verde);
        transition: all 0.3s;
    }

    #rodape>div:nth-of-type(1)>div:nth-of-type(1)>a:hover{
        transform: scale(1.1);
    }

    /* Rodapé - Fim */

}