@media (max-width: 949.99px) and (min-width: 450px){

    html{
        font-size: 60%;
    }

    #container-interno>div:nth-of-type(1){
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    #container-detalhes{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        padding: 2rem;
        width: 100%;
        gap: 3rem;
    }

    #rodape>div:nth-of-type(1)>div:nth-of-type(1){
        margin-top: 4rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    #foto-livro{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #foto-livro img{
        width: 40%;
    }

}

@media (max-width: 449.99px){

    html{
        font-size: 40%;
    }

    #container-interno>div:nth-of-type(1){
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    #container-detalhes{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        padding: 2rem;
        width: 100%;
        gap: 3rem;
    }

    #rodape>div:nth-of-type(1)>div:nth-of-type(1){
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column nowrap;
        gap: 1rem;
    }

    #foto-livro{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #foto-livro img{
        width: 40%;
    }

}