@media (max-width: 349.99px){

    html{
        font-size: 35%;
    }

    /* Cabeçalho - Início */ 

    .cabecalho{
        width: 100%;
        height: 10rem;
        background: var(--cor-verde);
    }

    #cabecalho-interno{
        width: 90%;
        height: 10rem;
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        transition: all 0.2s;
    }

    .logo a{
        font-family: var(--fonte-titulo);
        font-weight: bold;
        font-size: 3rem;
        color: var(--cor-branco-principal);
        cursor: pointer;
    }

    .logo:hover{
        transform: scale(1.1);
    }

    .logo h1, .logo i{
        font-size: 3rem;
        color: var(--cor-branco-principal);
    }

    /* Cabeçalho - Fim */ 

    /* Container - Início */ 

    #container{
        width: 100%;
        min-height: 90vh;
        background: url('../../Imagens/fundo3.jpg') fixed center;
    }

    #container>div:nth-child(1){
        width: 85%;
        margin: 0 auto;
        padding: 2rem;
        min-height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #container>div:nth-child(1)>div{
        width: 50rem;
        height: auto;
        background: rgba(255, 255, 255, 0.98);
        border-radius: 1.5rem;
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    #login1{
        display: none;
    }

    #login1 h1{
        font-family: var(--fonte-subtitulo);
        color: var(--cor-branco-principal);
        font-size: 3.5rem;
        word-break: break-all;
    }

    #login1 img{
        width: 60rem;
    }

    #login2{
        margin: 1rem;
        padding: 3rem;
        width: 50rem;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    #login2 h1{
        font-family: var(--fonte-titulo);
        color: black;
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    #login2 label{
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }

    #login2 form p:not(:nth-of-type(4)) input, #login2 textarea{
        width: 40rem;
        height: 3.5rem;
        margin-bottom: 2rem;
        padding: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        border: 0.1rem solid #efeef3;
        transition: all 0.2s;
    }

    #login2 form p:nth-of-type(4){
        margin-bottom: 1rem;
    }

    #login2 form p:not(:nth-of-type(4)) input:focus{
        outline: 0.2rem solid cyan;
        transform: scale(1.01);
    }

    #login2 form p:nth-of-type(2) input[type="checkbox"]{
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: 2rem;
        padding: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        border: 0.1rem solid #efeef3;
        transition: all 0.2s;
    }

    #login2 form p:nth-of-type(2) input[type="checkbox"]:focus{
        outline: none;
        transform: scale(1.01);
    }

    .fa-x{
        color: var(--cor-vermelha-botao);
    }

    .fa-check{
        color: var(--cor-verde);
    }

    .fa-star{
        color: var(--cor-amarela-botao);
    }

    #login2 textarea{
        height: auto;
    }

    #login2 form>input:nth-of-type(2){
        width: 10rem;
        height: 4rem;
        padding: 1rem;
        cursor: pointer;
        font-family: var(--fonte-subtitulo);
        font-weight: bold;
        color: var(--cor-branco-principal);
        border-radius: 0.8rem;
        border: none;
        font-size: 1.3rem;
        background: var(--cor-verde);
        transition: all 0.2s;
    }

    #login2 form>input:nth-of-type(2):hover{
        transform: scale(1.1);
    }

    /* Container - Fim */ 

     /* Rodapé - Início */

    #rodape{
        width: 100%;
        padding: 4rem;
        height: auto;
        background: var(--cor-azul);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    #rodape>div:nth-of-type(1){
        width: 90%;
        height: 12rem;
    }

    #rodape>div:nth-of-type(1)>div:nth-of-type(1){
        margin-top: 4rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    #rodape>div:nth-of-type(1)>div:nth-of-type(1)>p{
        color: var(--cor-branco-principal);
        font-family: var(--fonte-titulo);
        font-size: 1.5rem;
    }

    #rodape>div:nth-of-type(1)>div:nth-of-type(1)>a{
        padding: 1rem;
        font-size: 2rem;
        border-radius: 0.5rem;
        color: var(--cor-branco-principal);
        background: var(--cor-verde);
        transition: all 0.3s;
    }

    #rodape>div:nth-of-type(1)>div:nth-of-type(1)>a:hover{
        transform: scale(1.1);
    }

    /* Rodapé - Fim */

}