{% extends 'base.html' %}

{% load static %}

{% include 'parciais/_head.html' %}

{% block 'estilos_css' %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_e_registro/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_e_registro/mediaqueries1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_e_registro/mediaqueries2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_e_registro/mediaqueries3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_e_registro/mediaqueries4.css' %}">
{% endblock 'estilos_css' %}

{% block 'titulo' %} Registrar {% endblock %}
    
{% block 'container' %} 
        
    <section id="container">

        <div>

            <div>

                <div id="login1">
                    <div>
                        <h1> 
                            Começe a sua <br> jornada conosco! 
                            <i class="fa-solid fa-face-smile-wink"></i>
                        </h1>
                    </div>

                    <img src="{% static 'Imagens/login.png' %}" alt="">
                </div>

                <div id="login2">
                    <h1 style="margin-bottom: 2rem;"> 
                        Registrar-se 
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </h1>
                    <div>

                        {% block 'alertas' %} 
                            {% include 'parciais/_messages.html' %}
                        {% endblock %}

                        <form action="{% url 'registrar' %}" method="POST">
                            {% csrf_token %}
                            <label for="nome"> Nome Completo </label>
                            <input type="text" name="nome" id="nome"
                            value="{{ request.POST.nome }}">

                            <label for="usuario"> Usuário </label>
                            <input type="text" name="usuario" id="usuario"
                            value="{{ request.POST.usuario }}">

                            <label for="email"> E-mail </label>
                            <input type="email" name="email" placeholder="email@gmail.com"
                            value="{{ request.POST.email }}">

                            <label for="senha1"> Senha </label>
                            <input type="password" name="senha1" id="senha1"><br>

                            <label for="senha2"> Repetir senha </label>
                            <input type="password" name="senha2" id="senha2"><br>
            
                            <input id="botao" type="submit" value="Registrar-se">

                        </form>
                    </div>
                </div>

            </div>

        </div>

    </section>
    
{% endblock %}
